<h1>Films</h1>

<p>Here are all of the Films:</p>

<table>
    <tbody>
        <tr>
            <th>Film</th>
        </tr>
        <%= render partial: "film", collection: @films %>
    </tbody>
</table>

<% content_for :aside do %>
    <%= render 'sidebar' %>
<% end %>